<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{usr/infra/include/indexhead :: head}"></div>

<body>
<div class="theme-layout">
	<!--파일헤더 블록처리-->
	<div th:replace="~{usr/infra/include/usrheader :: usrheader}"></div>
    
    <!-- main 화면 -->
    <section>
        <div class="gap no-gap">
            <div class="featured-sec">
                <figure><img src="images/resources/feature-img.jpg" alt=""></figure>
            </div>
        </div>    
    </section>
    
	<!-- footer -->
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Bizzshout! 2023. All rights reserved.</span>
				</div>
			</div>
		</div>
	</div>
</div>
	
	
	<script src="js/main.min.js"></script>
    <script src="js/all.min.js"></script><!-- fontawesome all.js -->
    <script src="js/jquery.scrolly.js"></script>
	<script src="js/script.js"></script>
	
	<script type="text/javascript">
		document.getElementById("buttonSignout").onclick = function () {
// 			alert("qqqqqqqqqq");
// 			if(validation() == false) return false;
			
			$.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/usrSignOut"
				/* ,data : $("#formLogin").serialize() */
				,data : { "ifmmId" : $("#ifmmId").val(), "ifmmPwd" : $("#ifmmPwd").val()}
				,success: function(response) {
// 					alert("확인");
					if(response.rt == "success") {
// 						alert("sssssss");
						location.href = "/usrindex";

					}  
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		}
			
		</script>

</body>	
</html>