<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/infra/include/usrhead :: head}"></div>

<body>
	
	<!--파일헤더 블록처리-->
	<div th:replace="~{usr/infra/include/usrheader :: usrheader}"></div>
			
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-12">
								<div class="central-meta">
									<h4 class="create-post">리뷰 리스트 화면</h4>
									<div class="row">
										<!--리뷰 시작-->
										<div class="col-lg-6 col-md-6">
											<div class="dig-pro">
												<figure>
													<img src="images/resources/dig-product1.jpg" alt="">
												</figure>
												<div class="digi-meta">
													<h4><a href="product-detail.html" title="">매치 이름</a></h4>
													<p>리뷰</p>
													<div class="rate">
														<ol class="pit-rate">
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class=""><i class="fa fa-star"></i></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
										<!--리뷰 끝-->
										
										<div class="col-lg-6 col-md-6">
											<div class="dig-pro">
												<figure>
													<img src="images/resources/dig-product1.jpg" alt="">
												</figure>
												<div class="digi-meta">
													<h4><a href="product-detail.html" title="">EMail Marketing 2020</a></h4>
													<p>Full E-Marketing for your digital product with cheap budget using social media </p>
													<div class="rate">
														<ol class="pit-rate">
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class=""><i class="fa fa-star"></i></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="dig-pro">
												<figure>
													<img src="images/resources/dig-product1.jpg" alt="">
												</figure>
												<div class="digi-meta">
													<h4><a href="product-detail.html" title="">EMail Marketing 2020</a></h4>
													<p>Full E-Marketing for your digital product with cheap budget using social media </p>
													<div class="rate">
														<ol class="pit-rate">
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class=""><i class="fa fa-star"></i></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="dig-pro">
												<figure>
													<img src="images/resources/dig-product1.jpg" alt="">
												</figure>
												<div class="digi-meta">
													<h4><a href="product-detail.html" title="">EMail Marketing 2020</a></h4>
													<p>Full E-Marketing for your digital product with cheap budget using social media </p>
													<div class="rate">
														<ol class="pit-rate">
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class=""><i class="fa fa-star"></i></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="dig-pro">
												<figure>
													<img src="images/resources/dig-product1.jpg" alt="">
												</figure>
												<div class="digi-meta">
													<h4><a href="product-detail.html" title="">EMail Marketing 2020</a></h4>
													<p>Full E-Marketing for your digital product with cheap budget using social media </p>
													<div class="rate">
														<ol class="pit-rate">
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class=""><i class="fa fa-star"></i></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="dig-pro">
												<figure>
													<img src="images/resources/dig-product1.jpg" alt="">
												</figure>
												<div class="digi-meta">
													<h4><a href="product-detail.html" title="">EMail Marketing 2020</a></h4>
													<p>Full E-Marketing for your digital product with cheap budget using social media </p>
													<div class="rate">
														<ol class="pit-rate">
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class=""><i class="fa fa-star"></i></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="dig-pro">
												<figure>
													<img src="images/resources/dig-product1.jpg" alt="">
												</figure>
												<div class="digi-meta">
													<h4><a href="product-detail.html" title="">EMail Marketing 2020</a></h4>
													<p>Full E-Marketing for your digital product with cheap budget using social media </p>
													<div class="rate">
														<ol class="pit-rate">
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class=""><i class="fa fa-star"></i></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-md-6">
											<div class="dig-pro">
												<figure>
													<img src="images/resources/dig-product1.jpg" alt="">
												</figure>
												<div class="digi-meta">
													<h4><a href="product-detail.html" title="">EMail Marketing 2020</a></h4>
													<p>Full E-Marketing for your digital product with cheap budget using social media </p>
													<div class="rate">
														<ol class="pit-rate">
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class="rated"><i class="fa fa-star"></i></li>
															<li class=""><i class="fa fa-star"></i></li>
														</ol>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							
					</div>
				</div>
			</div>
		</div>	
	</section><!-- content -->
	
	<div th:replace="~{usr/infra/include/usrfooter :: usrfooter}"></div>

</body>	
</html>