<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
<div th:replace="~{usr/infra/include/usrhead :: head}"></div>

<body>
	
	<!--파일헤더 블록처리-->
	<div th:replace="~{usr/infra/include/usrheader :: usrheader}"></div>
	
		<section>
			<div class="gap2 gray-bg">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="row merged20" id="page-contents">
								<div class="col-lg-3">
									<aside class="sidebar static left">
										<div class="widget">
											<h4 class="widget-title">Your page</h4>
											<div class="your-page">
												<figure>
													<a href="#" title=""><img src="images/resources/friend-avatar9.jpg"
															alt=""></a>
												</figure>
												<div class="page-meta">
													<a href="#" title="" class="underline">회원이름</a>
												</div>
												<ul class="page-publishes">
													로그인로그아웃 버튼
<!--													<li>
														<span><i class="ti-pencil-alt"></i>Publish</span>
													</li>
													<li>
														<span><i class="ti-camera"></i>Photo</span>
													</li>
													<li>
														<span><i class="ti-video-camera"></i>Live</span>
													</li>
													<li>
														<span><i class="ti-user"></i>Invite</span>
													</li>
-->												</ul>
											</div>
										</div><!-- recent post-->
										<div class="widget">
											<div class="weather-widget low-opacity bluesh">
												<div class="bg-image"
													style="background-image: url(images/resources/weather.jpg)"></div>
												<span class="refresh-content"><i class="fa fa-refresh"></i></span>
												<div class="weather-week">
													<div class="icon sun-shower">
														<div class="cloud"></div>
														<div class="sun">
															<div class="rays"></div>
														</div>
														<div class="rain"></div>
													</div>
												</div>
												<div class="weather-infos">
													<span class="weather-tem">25</span>
													<h3>Cloudy Skyes<i>Sicklervilte, New Jersey</i></h3>
												</div>
												<div class="monthly-weather">
													<ul>
														<li>
															<span>Sun</span>
															<a href="#" title=""><i class="wi wi-day-sunny"></i></a>
															<em>40°</em>
														</li>
														<li>
															<span>Mon</span>
															<a href="#" title=""><i class="wi wi-day-cloudy"></i></a>
															<em>10°</em>
														</li>
														<li>
															<span>Tue</span>
															<a href="#" title=""><i class="wi wi-day-hail"></i></a>
															<em>20°</em>
														</li>
														<li>
															<span>Wed</span>
															<a href="#" title=""><i class="wi wi-day-lightning"></i></a>
															<em>34°</em>
														</li>
														<li>
															<span>Thu</span>
															<a href="#" title=""><i class="wi wi-day-showers"></i></a>
															<em>22°</em>
														</li>
														<li>
															<span>Fri</span>
															<a href="#" title=""><i class="wi wi-day-windy"></i></a>
															<em>26°</em>
														</li>
														<li>
															<span>Sat</span>
															<a href="#" title=""><i
																	class="wi wi-day-sunny-overcast"></i></a>
															<em>30°</em>
														</li>
													</ul>
												</div>

											</div><!-- Weather Widget -->
										</div><!-- weather-->
									</aside>
								</div><!-- sidebar -->
								<div class="col-lg-9">
									<!--매칭방 목록 시작-->
									<div class="central-meta item">
										<div class="classic-post">
											<figure>
												<img src="images/resources/classic10.jpg" alt="">
												<span>Super Hot</span>
											</figure>
											<div class="classic-pst-meta">
												<h4><i class="fa fa-check-circle" title="verified"></i> <a href="#"
														title=""> Yamaha Bike 450cc Red Matalic</a></h4>
												<p>Beautiful Rider bike for sale. 450cc new tyre long seat... </p>
												<span class="prise">$10,000</span>
												<div class="location-area">
													<i>Last Updated: Dec,12 2020</i>
													<span><i class="fa-regular fa-location-dot"></i> onatrio,
														Canada</span>
													<a href="#" class="main-btn" title="">Add to Cart</a>
												</div>
											</div>
										</div>
									</div>
									<!--매칭방 목록 끝-->

									<!--친구추천 시작-->
									<div class="central-meta">
										<span class="create-post">Featured Posts</span>
										<ul class="suggested-frnd-caro">
											<li>
												<img src="images/resources/classified2.jpg" alt="">
												<div class="sugtd-frnd-meta">
													<a href="#" title="">teddy bear China</a>
													<span>2 mutual friend</span>
													<ul class="add-remove-frnd">
														<li class="add-tofrndlist"><a href="#" title="Add friend"><i
																	class="fa fa-star"></i></a></li>
														<li class="remove-frnd send-mesg"><a href="#"
																title="remove friend"><i class="fa fa-comment"></i></a>
														</li>
													</ul>
												</div>
											</li>
										</ul>
									</div>
									<!-- 친구추천 끝 -->

								</div>
								<!-- col div 끝 -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- content -->

		<div th:replace="~{usr/infra/include/usrfooter :: usrfooter}"></div>

</body>

</html>