<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.something.infra.member.MemberDao">

	<resultMap id="resultMapObj" type="com.something.infra.member.MemberDto"></resultMap>

	<!--<select id="selectList" resultMap="resultMapObj">  애매 

         select
             ifmmSeq
             ,ifmmName
             ,ifmmId
             ,ifmmPwd
         	 ,memberEmail
         	 ,ifmmGenderCd
         	 ,ifmmDob
         	 ,ifmmMobile
         	 ,delNy
         	 ,regDate
         	 ,modDate
         from 
             member 
	   WHERE 1=1
	   
	        <if test="shDelNy != null and shDelNy.equals('')">AND delNy = #{shDelNy}</if>
	     
	     
			<choose>
				<when test="shOptionDate == 1">AND a.regDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND a.modDatetime BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	
	    	 <choose>
	         	 <when test="shOption == 1">AND ifmmSeq = #{shValue}</when>
	            <when test="shOption == 2">AND ifmmName LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
	       	 
	</select>-->
	
	<sql id ="selectCommon">
		 from member 
	             
	   WHERE 1=1
	  
	      <if test="shDelNy != null and !shDelNy.equals('')">AND delNy = #{shDelNy}</if>
	     
	     
			<choose>
				<when test="shOptionDate == 1">AND regDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				<when test="shOptionDate == 2">AND modDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			</choose>
	
	    	 <choose>
	         	 <when test="shOption == 1">AND ifmmSeq = #{shValue}</when>
	            <when test="shOption == 2">AND ifmmName LIKE CONCAT('%',#{shValue},'%')</when>
	       	 </choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj"> 애매

         select
             ifmmSeq
             ,ifmmName
             ,ifmmId
             ,ifmmPwd
         	 ,ifmmGenderCd
         	 ,ifmmDob
         	 ,ifmmMobile
         	 ,delNy
         	 ,regDate
         	 ,modDate
         	  <include refid="selectCommon" />

         	 limit #{rowNumToShow} offset #{startRnumForMysql}
     </select>
     
     <select id="naverOne" resultMap="resultMapObj">
		select
			ifmmSeq
			,ifmmName
            ,ifmmId
		from member 
		where 1 = 1
			AND ifmmId = #{email}
	</select>
	
<!-- 	<insert id="naverInsert"> -->
<!-- 	insert into member( -->
<!-- 	ifmmName -->
<!-- 	,ifmmId -->
<!-- 	,ifmmMobile -->
<!-- 	) values( -->
<!-- 	#{name} -->
<!-- 	,#{email} -->
<!-- 	,#{mobile} -->
<!-- 	) -->
<!-- 	</insert> -->
     
     <select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon" />
	</select>
	
<!-- 	<select id="selectOneCountPB" resultType="Integer"> -->
<!-- 		SELECT COUNT(*) FROM product -->
<!-- 		where productBestNy = 0 -->
<!-- 	</select> -->
	
<!-- 	<select id="selectOneCountPN" resultType="Integer"> -->
<!-- 		SELECT COUNT(*) FROM product -->
<!-- 		where productNewNy = 1 -->
<!-- 	</select> -->
	
	<select id="selectOne" resultMap="resultMapObj">
		select
			ifmmSeq
            ,ifmmName
            ,ifmmId
            ,ifmmPwd
         	,ifmmGenderCd
         	,ifmmMbtiCd
         	,ifmmDob
         	,ifmmMobile
         	,delNy
         	,regDate
         	,modDate
		from member 
		where 1 = 1
			AND ifmmSeq = #{ifmmSeq}
	</select>
	
	<insert id="insert">
		insert into member (
		 	ifmmName
            ,ifmmId
            ,ifmmPwd
         	,ifmmGenderCd
         	,ifmmDob
		) values (
		#{ifmmName}
		,#{ifmmId}
		,#{ifmmPwd}
		,#{ifmmGenderCd}
		,#{ifmmDob}
		)
	</insert>
	
	
	<update id="update">
		update member
		set
			ifmmName = #{ifmmName}
            ,ifmmId = #{ifmmId}
            ,ifmmPwd = #{ifmmPwd}
         	,ifmmGenderCd = #{ifmmGenderCd}
         	,ifmmDob = #{ifmmDob}
         	,ifmmMobile = #{ifmmMobile}
    		where 1=1
    		and ifmmSeq = #{ifmmSeq}
	</update>
	
	<update id="uelete">
		update member
		set
		delNy = 1
    		where 1=1
    		and ifmmSeq = #{ifmmSeq}
	</update>
	
	<delete id="delete">
		delete from member
		where 1 = 1
			and ifmmSeq = #{ifmmSeq}
	</delete>
	
	
	<!-- user -->
	<select id="selectLogin" resultMap="resultMapObj"> <!-- 애매 -->
         select
             ifmmId
             ,ifmmPwd
             ,ifmmName
             ,ifmmSeq
        from
        	member
        	where 1=1
        	and ifmmId = #{ifmmId}
     </select>
     
    
	
</mapper>